*{
    margin: 0;
    padding: 0;
    /*background: lightcyan;*/
    font-family: monospace;
    box-sizing: border-box;
}
    /************* Estilos de las imagenes*********/

 h1{  
     font-size: 30px;
    color: rgb(144, 189, 164);
    text-align: center;
    background: rgb(72, 88, 143);
  
}

.figuras{
    width: 92%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.figuras li{
    margin: 6px;
}

.figuras img{
    width: 150%;
    height: 100px;
}

    /*********** Estilos del modal*********/
.modal{
  position: absolute;
  top: -100%;
}

.modal:target{
  
    transition: all 0.8s;
    position: fixed;
    background: rgba(0,0,0, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3{
    color: #fff;
    font-size: 31px;
    text-align: center;
    margin: 16px 0;

}

.image{
    width: 100px;
    height: 62%;

    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.image a{
    color: #fff;
    font-size:40px;
    text-decoration: none;
    margin: 0 11px;
}

.image a:nth-child(2){
    margin: 0;
   height: 100%;
   flex-shrink: 2;
}


/*.image img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 8px solid #fff;
    box-sizing: border-box;
}*/

.cerrar{
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}    

/************* SLIDER *****************/

.slider{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.slider ul{
    width: 400%;
    /*height: 50px;*/
    display:flex;
    list-style: none;
    order: 1;
    transition: 0.10s;
    animation: slider 22s infinite;

    
   
}

 .slider img{
   box-shadow: 0 0 0 10px white,
                0 0 0 20px  black;
 }
input[type="radio"] {
    display: none;
}

input[type="radio"] + label{
    display: block;
    width: 25%;
    height: 60px;
    cursor: pointer;
    order: 2;
    /*border: 1px solid #fff;*/
}

.sbbuttom1 + label{
    background: url(img/slider1.jpg);
    background-size: 100% 100%;
}

.sbbuttom2 + label{
    background:  url(img/slider2.jpg);
    background-size: 100% 100%;
}

.sbbuttom3 + label{
    background:  url(img/slider3.jpg);
    background-size: 100% 100%;
}

.sbbuttom4 + label{
    background:  url(img/slider4.jpg);
    background-size: 100% 100%;
}

#sbutton1:checked ~ ul {
    margin-left: 0%;
    animation: none;

}

#sbutton2:checked ~ ul {
    margin-left: -100%;
    animation: none;
    
}

#sbutton3:checked ~ ul {
    margin-left: -200%;
    animation: none;
    
}

#sbutton4:checked ~ ul{
    margin-left: -300%;
    animation: none;
    
}

@keyframes slider{
    0%, 20%{
        margin-left: 0;
        animation: none;
    }

    25%, 40%{
        margin-left: -100%;
        animation: none;
    }

    45%, 60%{
        margin-left: -100%;
        animation: none;
    }

    75%, 80%{
        margin-left: -100%;
        animation: none;
    }
}